<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .box{
        margin-left: 550px;
        width: 90vw;
     display: flex;
     flex-wrap: wrap;
     gap: 10px;
     font-size: 29px;
    }
    .book{
        padding: 6px;
        height: 400px;
        width: 350px;
        border: solid 0.3px lightgrey;
        display: flex;
    }
    .book:hover{
        border: solid 0.1px;
        transform: scale(1.05);
    }
    .deal{
        display: block;
        width: 50px;
        height: 30px;
        background-color: red;
     margin-bottom: 5px;
    }
    body{
        width: 100%;
    }
    img{
        margin-left: 25%;
        height: 250px;
        width: 150px;
        margin-bottom: 5px;
    }
    p{
        margin-left: 25%;
        font-size: 17px;
    }
    .name{
        margin-left: 25%;
     font-weight: bold;
    }
    .rate{
        color: red;
        display: inline-block;
     margin: 5px;
     margin-left: 50px;
    }
    .original{
        text-decoration:line-through;
        color: gray;
        display: inline-block;
        margin:5px
    }
    .discount{
        display: block;
        width: 50px;
        height: 50px;
        background-color: red;
        border-radius: 50%;
        color: white;
        margin-left: 30px;
        display: flex;
        font-size: 20px;
        justify-content: center;
        align-items: center;
    }
    .top{
        display: flex;
    
    }
    .book-main{
        width: 200px;
    }
</style>
<body>
    <div class="box">
        <div class="book">
        <span class="deal"></span>
        <div class="book-main">
            <div class="image">
                <a href="">
                <img src="https://www.bookswagon.com/productimages/images200/173/9781974732173.jpg" alt="">
            </a>
            </div>
<div class="name">One Piece</div>
<div class="details">
    <p>Eichiro Oda</p>
    <p class="rate">₹500 </p>
    <p class="original">₹980 </p>
    </div>
</div>
       
<span class="discount">47%</span>

</div>
        <div class="book">
        <span class="deal"></span>
        <div class="book-main">
            <div class="image">
                <a href="">
                <img src="https://www.bookswagon.com/productimages/images200/173/9781974732173.jpg" alt="">
            </a>
            </div>
<div class="name">One Piece</div>
<div class="details">
    <p>Eichiro Oda</p>
    <p class="rate">₹500 </p>
    <p class="original">₹980 </p>
    </div>
</div>
       
<span class="discount">47%</span>

</div>
        <div class="book">
        <span class="deal"></span>
        <div class="book-main">
            <div class="image">
                <a href="">
                <img src="https://www.bookswagon.com/productimages/images200/173/9781974732173.jpg" alt="">
            </a>
            </div>
<div class="name">One Piece</div>
<div class="details">
    <p>Eichiro Oda</p>
    <p class="rate">₹500 </p>
    <p class="original">₹980 </p>
    </div>
</div>
       
<span class="discount">47%</span>

</div>
        <div class="book">
        <span class="deal"></span>
        <div class="book-main">
            <div class="image">
                <a href="">
                <img src="https://www.bookswagon.com/productimages/images200/173/9781974732173.jpg" alt="">
            </a>
            </div>
<div class="name">One Piece</div>
<div class="details">
    <p>Eichiro Oda</p>
    <p class="rate">₹500 </p>
    <p class="original">₹980 </p>
    </div>
</div>
       
<span class="discount">47%</span>

</div>
        <div class="book">
        <span class="deal"></span>
        <div class="book-main">
            <div class="image">
                <a href="">
                <img src="https://www.bookswagon.com/productimages/images200/173/9781974732173.jpg" alt="">
            </a>
            </div>
<div class="name">One Piece</div>
<div class="details">
    <p>Eichiro Oda</p>
    <p class="rate">₹500 </p>
    <p class="original">₹980 </p>
    </div>
</div>
       
<span class="discount">47%</span>

</div>
        <div class="book">
        <span class="deal"></span>
        <div class="book-main">
            <div class="image">
                <a href="">
                <img src="https://www.bookswagon.com/productimages/images200/173/9781974732173.jpg" alt="">
            </a>
            </div>
<div class="name">One Piece</div>
<div class="details">
    <p>Eichiro Oda</p>
    <p class="rate">₹500 </p>
    <p class="original">₹980 </p>
    </div>
</div>
       
<span class="discount">47%</span>

</div>
        <div class="book">
        <span class="deal"></span>
        <div class="book-main">
            <div class="image">
                <a href="">
                <img src="https://www.bookswagon.com/productimages/images200/173/9781974732173.jpg" alt="">
            </a>
            </div>
<div class="name">One Piece</div>
<div class="details">
    <p>Eichiro Oda</p>
    <p class="rate">₹500 </p>
    <p class="original">₹980 </p>
    </div>
</div>
       
<span class="discount">47%</span>

</div>
        <div class="book">
        <span class="deal"></span>
        <div class="book-main">
            <div class="image">
                <a href="">
                <img src="https://www.bookswagon.com/productimages/images200/173/9781974732173.jpg" alt="">
            </a>
            </div>
<div class="name">One Piece</div>
<div class="details">
    <p>Eichiro Oda</p>
    <p class="rate">₹500 </p>
    <p class="original">₹980 </p>
    </div>
</div>
       
<span class="discount">47%</span>

</div>
        <div class="book">
        <span class="deal"></span>
        <div class="book-main">
            <div class="image">
                <a href="">
                <img src="https://www.bookswagon.com/productimages/images200/173/9781974732173.jpg" alt="">
            </a>
            </div>
<div class="name">One Piece</div>
<div class="details">
    <p>Eichiro Oda</p>
    <p class="rate">₹500 </p>
    <p class="original">₹980 </p>
    </div>
</div>
       
<span class="discount">47%</span>

</div>
        <div class="book">
        <span class="deal"></span>
        <div class="book-main">
            <div class="image">
                <a href="">
                <img src="https://www.bookswagon.com/productimages/images200/173/9781974732173.jpg" alt="">
            </a>
            </div>
<div class="name">One Piece</div>
<div class="details">
    <p>Eichiro Oda</p>
    <p class="rate">₹500 </p>
    <p class="original">₹980 </p>
    </div>
</div>
       
<span class="discount">47%</span>

</div>
        <div class="book">
        <span class="deal"></span>
        <div class="book-main">
            <div class="image">
                <a href="">
                <img src="https://www.bookswagon.com/productimages/images200/173/9781974732173.jpg" alt="">
            </a>
            </div>
<div class="name">One Piece</div>
<div class="details">
    <p>Eichiro Oda</p>
    <p class="rate">₹500 </p>
    <p class="original">₹980 </p>
    </div>
</div>
       
<span class="discount">47%</span>

</div>
        <div class="book">
        <span class="deal"></span>
        <div class="book-main">
            <div class="image">
                <a href="">
                <img src="https://www.bookswagon.com/productimages/images200/173/9781974732173.jpg" alt="">
            </a>
            </div>
<div class="name">One Piece</div>
<div class="details">
    <p>Eichiro Oda</p>
    <p class="rate">₹500 </p>
    <p class="original">₹980 </p>
    </div>
</div>
       
<span class="discount">47%</span>

</div>
        <div class="book">
        <span class="deal"></span>
        <div class="book-main">
            <div class="image">
                <a href="">
                <img src="https://www.bookswagon.com/productimages/images200/173/9781974732173.jpg" alt="">
            </a>
            </div>
<div class="name">One Piece</div>
<div class="details">
    <p>Eichiro Oda</p>
    <p class="rate">₹500 </p>
    <p class="original">₹980 </p>
    </div>
</div>
       
<span class="discount">47%</span>

</div>
        <div class="book">
        <span class="deal"></span>
        <div class="book-main">
            <div class="image">
                <a href="">
                <img src="https://www.bookswagon.com/productimages/images200/173/9781974732173.jpg" alt="">
            </a>
            </div>
<div class="name">One Piece</div>
<div class="details">
    <p>Eichiro Oda</p>
    <p class="rate">₹500 </p>
    <p class="original">₹980 </p>
    </div>
</div>
       
<span class="discount">47%</span>

</div>
        <div class="book">
        <span class="deal"></span>
        <div class="book-main">
            <div class="image">
                <a href="">
                <img src="https://www.bookswagon.com/productimages/images200/173/9781974732173.jpg" alt="">
            </a>
            </div>
<div class="name">One Piece</div>
<div class="details">
    <p>Eichiro Oda</p>
    <p class="rate">₹500 </p>
    <p class="original">₹980 </p>
    </div>
</div>
       
<span class="discount">47%</span>

</div>
        <div class="book">
        <span class="deal"></span>
        <div class="book-main">
            <div class="image">
                <a href="">
                <img src="https://www.bookswagon.com/productimages/images200/173/9781974732173.jpg" alt="">
            </a>
            </div>
<div class="name">One Piece</div>
<div class="details">
    <p>Eichiro Oda</p>
    <p class="rate">₹500 </p>
    <p class="original">₹980 </p>
    </div>
</div>
       
<span class="discount">47%</span>

</div>
        <div class="book">
        <span class="deal"></span>
        <div class="book-main">
            <div class="image">
                <a href="">
                <img src="https://www.bookswagon.com/productimages/images200/173/9781974732173.jpg" alt="">
            </a>
            </div>
<div class="name">One Piece</div>
<div class="details">
    <p>Eichiro Oda</p>
    <p class="rate">₹500 </p>
    <p class="original">₹980 </p>
    </div>
</div>
       
<span class="discount">47%</span>

</div>
        <div class="book">
        <span class="deal"></span>
        <div class="book-main">
            <div class="image">
                <a href="">
                <img src="https://www.bookswagon.com/productimages/images200/173/9781974732173.jpg" alt="">
            </a>
            </div>
<div class="name">One Piece</div>
<div class="details">
    <p>Eichiro Oda</p>
    <p class="rate">₹500 </p>
    <p class="original">₹980 </p>
    </div>
</div>
       
<span class="discount">47%</span>

</div>
        <div class="book">
        <span class="deal"></span>
        <div class="book-main">
            <div class="image">
                <a href="">
                <img src="https://www.bookswagon.com/productimages/images200/173/9781974732173.jpg" alt="">
            </a>
            </div>
<div class="name">One Piece</div>
<div class="details">
    <p>Eichiro Oda</p>
    <p class="rate">₹500 </p>
    <p class="original">₹980 </p>
    </div>
</div>
       
<span class="discount">47%</span>

</div>
        <div class="book">
        <span class="deal"></span>
        <div class="book-main">
            <div class="image">
                <a href="">
                <img src="https://www.bookswagon.com/productimages/images200/173/9781974732173.jpg" alt="">
            </a>
            </div>
<div class="name">One Piece</div>
<div class="details">
    <p>Eichiro Oda</p>
    <p class="rate">₹500 </p>
    <p class="original">₹980 </p>
    </div>
</div>
       
<span class="discount">47%</span>

</div>
        <div class="book">
        <span class="deal"></span>
        <div class="book-main">
            <div class="image">
                <a href="">
                <img src="https://www.bookswagon.com/productimages/images200/173/9781974732173.jpg" alt="">
            </a>
            </div>
<div class="name">One Piece</div>
<div class="details">
    <p>Eichiro Oda</p>
    <p class="rate">₹500 </p>
    <p class="original">₹980 </p>
    </div>
</div>
       
<span class="discount">47%</span>

</div>
    
    </div>
</body>
</html>