body{
    background-image: url(shop.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}
h1{
    color: whitesmoke;
}
form{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.l{
 height: 80%;
 width: 60%;
 border: solid white;
 display: flex;
 flex-direction: column;
}
input{
    height: 10%;
    width: 90%;
    background-color: black;
    border: solid white;
}